version: '3'

services:
  config-server:
    build: config-server
    mem_limit: 512m
    ports:
      - "8098:8098"
    networks:
      - 'admintareasnetwork'
    environment:
      GIT_USER: ${GIT_USER}
      GIT_PASSWORD: ${GIT_PASSWORD}
      CONFIG_SERVER_URI: ${CONFIG_SERVER_URI}
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:8098/actuator/health"]
      interval: 10s
      retries: 5
    
  eureka-sv:
    build: eureka-sv
    mem_limit: 512m
    ports:
      - "8761:8761"
    networks:
      - 'admintareasnetwork'
    environment:
      PATH_CONFIG: ${PATH_CONFIG}
    depends_on:
      config-server:
        condition: service_healthy

  api-gateway:
    build: api-gateway
    mem_limit: 512m
    ports:
      - "9090:9090"
    networks:
      - 'admintareasnetwork'
    environment:
      PATH_CONFIG: ${PATH_CONFIG}
    depends_on:
      config-server:
        condition: service_healthy

  users-service:
    build: users-service
    mem_limit: 512m
    ports:
      - "8090:8090"
    networks:
      - 'admintareasnetwork'
    environment:
      DB_URL: ${DB_URL_USERS}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      PATH_CONFIG: ${PATH_CONFIG}
    restart: always
    depends_on:
      config-server:
        condition: service_healthy
      service_admin_tareas_bd:
        condition: service_healthy

  service_admin_tareas_bd:
    image: mysql:8.3.0 
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 10s
      retries: 10  
    networks:
      - 'admintareasnetwork'

  tasks-service:
    build: tasks-service
    mem_limit: 512m
    ports:
      - "8092:8092"
    networks:
      - 'admintareasnetwork'
    environment:
      DB_URL: ${DB_URL_TASKS}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      PATH_CONFIG: ${PATH_CONFIG}
    restart: always
    depends_on:
      config-server:
        condition: service_healthy
      service_admin_tareas_bd:
        condition: service_healthy

  notifications-service:
    build: notifications-service
    mem_limit: 512m
    ports:
      - "8099:8099"
    networks:
      - 'admintareasnetwork'
    environment:
      PASSWORD_MAIL: ${PASSWORD_MAIL}
      PATH_CONFIG: ${PATH_CONFIG}
    depends_on:
      config-server:
        condition: service_healthy
            
networks:
  admintareasnetwork: