server:
  port: 8098

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Jmrj24/config_data_admin_tareas_local.git
          searchPaths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}

#eureka:
  #instance:
  #  hostname: config-server-vrmb.onrender.com
  #  prefer-ip-address: false
